body{
    background: #000;
    color: lime;
}

p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-family: arial;
    letter-spacing: 2px;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid white;
    animation: typingEffect 4s steps(40) 500ms 1 normal,
    blinkEffect 500ms steps(40) infinite normal;
}

@keyframes typingEffect {
    from{
        width: 0;
    }
    to{
        width: 15em;
    }
}

@keyframes blinkEffect {
    from{
        border-right-color: white;
    }
    to{
        border-right-color: transparent;
    }
}