*{
    margin: 0;
    padding: 0;
}
body{
    height: 150vh;
    background: #82C0CC;
}
section{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: url(bg.jpg);
    background-blend-mode: luminosity;
    background-size: cover;
}

section .skewed{
    position: absolute;
    bottom: -100%;
    left: 0;
    letter-spacing: 0;
    width: 100%;
    height: 100%;
    background: #82C0CC;
    transform: skewY(-10deg);
    transform-origin: top left;
}