body{
    margin: 0;
    padding: 0;
    background: url('img.png');
    background-size: cover;
}
.center{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.pointer {
    display: block;
    width: 100px;
    height: 100px;
    background: #ff0d43;
    border-radius: 50%;
    border-bottom-right-radius: 0;
    transform: rotate(45deg);
}
.pointer:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 50%;
    transform: scale(.5);
    box-shadow: 5px 4px 10px rgba(0, 0, 0, .4);
}

.pulse{
    position: absolute;
    display: block;
    bottom: -30px;
    left: 30px;
    width: 40px;
    height: 20px;
    background: rgba(255,255,255,.5);
    border-radius: 50%;
    z-index: -1;
}

.pulse:before{
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
    background: transparent;
    border-radius: 50%;
    border: 2px solid rgba(255,255,255,.5);
    z-index: -2;
    animation: animate 1s linear infinite;
    opacity: 0;
}

@keyframes animate 
{
    0%{
        transform: scale(1);
        opacity: 1;
    }
    100%{
        transform: scale(2);
        opacity: 0;
    }
}