*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

.container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #EEE;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title{
    font-size: 3rem;
    padding: 0.5rem 0;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.text{
    position: absolute;
    cursor: pointer;
}

.text span{
    position: absolute;
    background-color: #000;
    transition: .5s;
}

.horizontal{
    width: 100%;
    height: 5px;
}

.horizontal.first{
    top: 0;
    left: 0;
}

.horizontal.second{
    right: 0;
    bottom: 0;
}

.text:hover .horizontal.first{
    width: 0px;
    transform: translateX(-1000px);
}
.text:hover .horizontal.second{
    width: 0px;
    transform: translateX(1000px);
}

.vertical{
    height: 0%;
    width: 6px;
}

.vertical.first{
    top: 0;
    left: 0;
    transform: translate(-0.75rem, -1000px);
}

.vertical.second{
    bottom: 0;
    right: 0;
    transform: translate(0.75rem, 1000px);
}

.text:hover .vertical.first{
    height: 100%;
    transform: translate(-0.75rem, 0px);
}

.text:hover .vertical.second{
    height: 100%;
    transform: translate(0.75rem, 0px);
}